html {
  background-color: #6e4035;
  font-family: "Open Sans", sans-serif;
}

header nav {
  background-color: #fff;
}

header nav a {
  color: #f51d4e;
  border-bottom: 6px solid transparent;
  display: block;
  padding-top: .5rem;
  padding-bottom: .5rem;
  text-decoration: none;
  width: 5rem;
  margin: auto;
}

header nav a:hover {
  background-color: #fff;
  border-bottom: 6px solid #f51d4e;
}

h1 {
  color: #6e4035;
  background-color: #fff;
  font-family: "Gloria Hallelujah", cursive;
  padding-top: 1.5rem;
  padding-bottom: .5rem;
  text-align: center;
}

h2 {
  color: #fff;
  font-family: "Gloria Hallelujah", cursive;
  text-align: center;
  bottom: 0;
  padding: 1rem;
}

h3 {
  font-weight: 600;
}

h4,
legend {
  color: #6e4035;
  font-family: "Gloria Hallelujah", cursive;
}

.brown {
  color: #6e4035;
}

.holiday {
  visibility: hidden;
}

.btn {
  border-color: #f51d4e;
  background-color: #f51d4e;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.btn:hover {
  background-color: rgba(255, 255, 255, .5);
  border-color: #f51d4e;
}

main nav a {
  color: #6e4035;
}

main li {
  background-color: #fff;
}

main nav a:hover {
  color: #f51d4e;
}

#story,
#shop,
#blog,
#order {
  background-color: #fff;
}

.shop-text {
  padding-left: .5rem;
}

fieldset {
  border: none;
}

.img-circle {
  border-radius: 50%;
}

.price {
  color: #f51d4e;
}

#blog a {
  text-decoration: none;
  color: #6e4035;
}

#blog a:hover {
  color: #f51d4e;
}

/* Might need this?
.banner-img {
  height: 20rem;
  width: 100%;
  object-fit: cover;
  object-position: center;

  overflow: hidden;
}
*/

@media only screen and (min-width: 25em) {
}

@media only screen and (min-width: 38em) {

  main ul {
    padding-bottom: 2rem;
  }

  main nav li {
    background-color: transparent;
    padding-left: .25rem;
    padding-right: .25rem;
  }

  .card-text {
    background: #fff;
    padding-bottom: 2rem;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
  }

  .shop-text,
  .shop-item {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  main nav {
    padding-left: 2rem;
    padding-right: 2rem;
  }

@media only screen and (min-width: 60em) {
  header nav {
    padding-top: 1rem;
  }

  h1 {
    padding-top: 1.6rem;
    text-align: left;
    padding-left: 2rem;
    z-index: 1;
  }

  h2 {
    padding-left: 0;
    padding-bottom: 6rem;
    left: 2rem;
    text-align: left;
  }

  .btn {
    left: 2rem;
    transform: translateX(0);
  }

  .holiday {
    color: #fff;
    text-align: left;
    bottom: 0;
    padding-bottom: 2rem;
    padding-left: 2rem;
    visibility: visible;
  }

}

@media only screen and (min-width: 90em) {
}
